/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 70px;
    padding-bottom: 20px;
}















