/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 70px;
    padding-bottom: 20px;
}

span a {
    color: #eeeeee;
}

.sidebar_list_style {
    list-style-type: none;
    padding-left: 20px;
}

.sidebar_list_style_outer {
    list-style-type: none;
    padding-left: 0px;
}

.spacer-bottom-5 {
    margin-bottom: 5px;
}

.spacer-bottom-10 {
    margin-bottom: 10px;
}

.spacer-bottom-20 {
    margin-bottom: 20px;
}

.spacer-bottom-50 {
    margin-bottom: 50px;
}

.page {
    font-family: "Malgun Gothic",Helvetica,arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding-bottom: 10px;
}