/*
Styles for Page content
*/

.page {
    font-size: 15px;
    line-height: 160%;
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.page table, th, td {
    border: 1px solid #999999;
    padding: 5px 15px;
}

.page table tr th {
    font-weight: bold;
}

.page p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page pre {
    margin-top: 15px;
    margin-bottom: 15px;
}
