body {
    padding-top: 70px;
}
.navbar-fixed-top .nav {
    padding: 15px 0;
}
.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
footer {
    padding: 30px 0;
}
@media (min-width: 768px) {
body {
    padding-top: 100px;
}
.navbar-fixed-top .navbar-brand {
    padding: 15px 0;
}
}
