{% extends "default/columns-1.html" %}

{% block title %}Rabiang :: Auth{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('auth.login', next=request.args.get('next', '')) }}" method="post">
                        {{ form.csrf_token }}
                        <fieldset>
                            <div class="form-group">
                                {{ form.email(class='form-control', placeholder=_('Email'), autofocus='') }}
                            </div>
                            <div class="form-group">
                                {{ form.password(class='form-control', placeholder=_('Password')) }}
                            </div>
                            <div class="checkbox">
                                <label>
                                    {{ form.remember_me }} {{ _('Keep me logged in') }}
                                </label>
                            </div>

                            <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
