{% extends "default/main/common/columns-1.html" %}

{% block page_content %}
    <table class="table">
        <tr>
            <th>{{ _('Resource') }}</th>
            <th>{{ _('Permission Name') }}</th>
            <th>{{ _('Permission Bit') }}</th>
        </tr>
        {% for permission in permissions %}
            <tr>
                <td><a href="{{ url_for('auth.permission_resource', resource_name=permission.resource.name) }}">{{ permission.resource.name }}</a></td>
                <td>{{ permission.name }}</td>
                <td>{{ permission.bit }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
