{% extends "default/columns-2.html" %}

{% block title %}{{ _('Sign up') }}{% endblock %}

{% block page_content %}
    <form action="{{ url_for('auth.register') }}" method="post" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label(class='col-sm-2 control-label') }}
            <div class="col-sm-6">
                {{ form.email(class='form-control') }}
            </div>
            <div class="col-sm-6">
                {% if form.email.errors %}
                    <ul class="alert alert-danger">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form.password.label(class='col-sm-2 control-label') }}
            <div class="col-sm-6">
                {{ form.password(class='form-control') }}
            </div>
            <div class="col-sm-6">
                {% if form.password.errors %}
                    <ul class="alert alert-danger">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form.password_repeat.label(class='col-sm-2 control-label') }}
            <div class="col-sm-6">
                {{ form.password_repeat(class='form-control') }}
            </div>
            <div class="col-sm-6">
                {% if form.password_repeat.errors %}
                    <ul class="alert alert-danger">
                        {% for error in form.password_repeat.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form.username.label(class='col-sm-2 control-label') }}
            <div class="col-sm-6">
                {{ form.username(class='form-control') }}
            </div>
            <div class="col-sm-6">
                {% if form.username.errors %}
                    <ul class="alert alert-danger">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
                <a href="{{ url_for('page.index') }}" class="btn btn-default">{{ _('Cancel') }}</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
{% endblock %}