{% for post in posts.items %}
<h2>
    <a href="{{ url_for('page.detail_slug', slug=post.slug) }}">{{ post.title }}</a>
</h2>
<p class="lead">
<ul class="list-inline">
    <li><i class="fa fa-calendar" aria-hidden="true"></i>
        {{ post.created_timestamp | datetimeformat(format='short') }}
    </li>
    <li><i class="fa fa-user" aria-hidden="true"></i>
        <a href="{{ url_for('page.user_index', username=post.author.username) }}">
            {{ post.author.username }}
        </a>
    </li>
    <li><i class="fa fa-folder-open-o" aria-hidden="true"></i>
        <a href="{{ url_for('page.category_detail', category_name=post.category.name) }}">
            {{ post.category.name }}
        </a>
    </li>
    <li><i class="fa fa-comments" aria-hidden="true"></i>
        <a href="{{ url_for('page.detail_slug', slug=post.slug) }}#comments">
            {{ post.comments.count() }}
        </a>
    </li>
    <li><i class="fa fa-link" aria-hidden="true"></i>
        <a href="{{ url_for('page.detail_post_id', post_id=post.id) }}">
            permalink
        </a>
    </li>
</ul>
</p>
{% include 'default/page/_post_tags.html' %}
<hr>
<p>{{ post.body | markdown | striptags | truncate(200) }}</p>
<p class="lead">
    <a class="btn btn-info btn-sm"
       href="{{ url_for('page.detail_slug', slug=post.slug) }}">
        Read More <span
            class="glyphicon glyphicon-chevron-right"></span></a>
</p>
<hr>
{% endfor %}