{% extends "default/columns-2.html" %}

{% block title %}{{ _('Write a new post') }}{% endblock %}

{% block page_content %}
    <form action="{{ url_for('page.create') }}" method="post" class="form-horizontal">
        {% include 'default/page/_post_form.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
                <a href="{{ url_for('page.index') }}" class="btn btn-default">{{ _('Cancel') }}</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script>
        YUI().use(
                'aui-node',
                function (Y) {
                    var title = Y.one('#post_title');
                    var slug = Y.one('#post_slug');

                    title.on(
                            'keyup',
                            function () {
                                // slugify title automatically
                                slug.val(title.val()
                                        .replace(/(^\s*)|(\s*$)/g, '')
  			                            .replace(/[\u2000-\u206F\u2E00-\u2E7F\\'!"#$%&()*+,\-.\/:;<=>?@\[\]^_`{|}~]/g, '')
  			                            .replace(/\s+/g, '-').toLowerCase());
                            }
                    );
                }
        );
    </script>
{% endblock %}