{% extends "default/columns-2.html" %}

{% block title %}Delete a post{% endblock %}

{% block page_content %}
    <form action="{{ url_for('page.delete', post_id=post.id) }}" method="post">
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ _('Delete this post?') }}</legend>
            {{ form.submit(class='btn btn-danger') }}
            <a class="btn btn-default" href="{{ url_for('page.detail_post_id', post_id=post.id) }}">{{ _('Cancel') }}</a>
        </fieldset>
    </form>
{% endblock %}