{% extends "default/columns-2.html" %}

{% block title %}Edit a post{% endblock %}

{% block page_content %}
    <form action="{{ url_for('page.edit', post_id=post_id) }}" method="post" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label(class='col-sm-2 control-label') }}
            <div class="col-sm-10{% if form.title.errors %} has-error{% endif %}">
                {{ form.title(class='form-control', id='post_title') }}
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form.slug.label(class='col-sm-2 control-label') }}
            <div class="col-sm-10{% if form.slug.errors %} has-error{% endif %}">
                {{ form.slug(class='form-control', id='post_slug') }}
                {% if form.slug.errors %}
                    {% for error in form.slug.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form.body.label(class='col-sm-2 control-label') }}
            <div class="col-sm-10{% if form.body.errors %} has-error{% endif %}">
                {{ form.body(class='form-control') }}
                {% if form.body.errors %}
                    {% for error in form.body.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>

                <a href="{{ url_for('page.index') }}" class="btn btn-default">{{ _('Cancel') }}</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script>
        YUI().use(
                'aui-node',
                function (Y) {
                    var title = Y.one('#post_title');
                    var slug = Y.one('#post_slug');

                    title.on(
                            'keyup',
                            function () {
                                // slugify title automatically
                                slug.val(title.val()
                                        .replace(/(^\s*)|(\s*$)/g, '')
  			                            .replace(/[\u2000-\u206F\u2E00-\u2E7F\\'!"#$%&()*+,\-.\/:;<=>?@\[\]^_`{|}~]/g, '')
  			                            .replace(/\s+/g, '-').toLowerCase());
                            }
                    );
                }
        );
    </script>
{% endblock %}