{% extends "default/main/common/columns-1.html" %}

{% block page_content %}
    <form action="{{ url_for('page.post_create') }}" method="post" class="form-horizontal">
        {% include 'default/page/inc/post_form.html' %}
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
                <a href="{{ url_for('page.post_index') }}" class="btn btn-default">{{ _('Cancel') }}</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    {% if config['RABIANG_POST_HTML_FORMAT'] == Post.FORMAT_HTML %}
        <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
        <script>
            tinymce.init({
                selector: '#post_body',
                height: 400,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons',
                image_advtab: true,
                templates: [
                    { title: 'Test template 1', content: 'Test 1' },
                    { title: 'Test template 2', content: 'Test 2' }
                ],
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });
        </script>
    {% elif config['RABIANG_POST_HTML_FORMAT'] == Post.FORMAT_MARKDOWN %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            var simplemde = new SimpleMDE({
                element: document.getElementById("post_body"),
                spellChecker: false,
            });
        </script>
    {% endif %}
    <script>
        YUI().use(
                'aui-node',
                function (Y) {
                    var title = Y.one('#post_title');
                    var slug = Y.one('#post_slug');
                    var tag_name = Y.one('#tag_name');

                    // slugify title automatically
                    title.on(
                            'keyup',
                            function() {
                                slug.val(title.val()
                                        .replace(/(^\s*)|(\s*$)/g, '')
  			                            .replace(/[\u2000-\u206F\u2E00-\u2E7F\\'!"#$%&()*+,\-.\/:;<=>?@\[\]^_`{|}~]/g, '')
  			                            .replace(/\s+/g, '-').toLowerCase());
                            }
                    );

                    // slugify tag
                    tag_name.on(
                            'keyup',
                            function() {
                                tag_name.val(tag_name.val()
                                        .replace(/(^\s*)|(\s*$)/g, '')
                                        .replace(/[\u2000-\u206F\u2E00-\u2E7F\\'!"#$%&()*+\-.\/:;<=>?@\[\]^_`{|}~]/g, '')
                                        .replace(/\s+/g, '')
                                        );
                            }
                    )
                }
        );
    </script>
{% endblock %}