<!-- Blog Search Well -->
<div class="well">
    <h4>{{ _('Blog Search') }}</h4>
    <form method="get" class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control"
                   name="q" value="{{ request.args.get('q', '') }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>

        </div>
    </form>
    <!-- /.input-group -->
</div>

<!-- Blog Categories Well -->
<div class="well">
    <h4>{{ _('Blog Category') }}</h4>
    <ul class="sidebar_list_style_outer">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Python</a></li>
        <ul class="sidebar_list_style">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Flask</a>
            </li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Django</a>
            </li>
        </ul>
    </ul>
</div>

<!-- Side Widget Well -->
<div class="well">
    <h4>{{ _('Recent Posts') }}</h4>
    <ul class="sidebar_list_style_outer">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> test</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> test</a></li>
    </ul>
</div>

<div class="well">
    <h4>{{ _('Recent Comments') }}</h4>
    <ul class="sidebar_list_style_outer">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> test</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> test</a></li>
    </ul>
</div>

<div class="well">
    <h4>{{ _('Tag') }}</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore,
        perspiciatis adipisci accusamus
        laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>

<div class="well">
    <h4>{{ _('Blog Archives') }}</h4>
    <ul class="sidebar_list_style_outer">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> 2016년 5월</a>
        </li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> 2016년 6월</a>
        </li>
    </ul>
</div>