<!-- Blog Search Well -->
<div class="well">
    <h4>{{ _('Blog Search') }}</h4>
    <form action="{{ url_for('page.index') }}" method="get" class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control"
                   name="q" value="{{ request.args.get('q', '') }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>

        </div>
    </form>
    <!-- /.input-group -->
</div>

<!-- Blog Categories Well -->
<div class="well">
    <h4>{{ _('Blog Category') }}</h4>
    <ul class="sidebar_list_style_outer">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Python</a></li>
        <ul class="sidebar_list_style">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Flask</a>
            </li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Django</a>
            </li>
        </ul>
    </ul>
</div>

<!-- Side Widget Well -->
<div class="well">
    <h4>{{ _('Recent Posts') }}</h4>
    <ul class="sidebar_list_style_outer">
        {% for post in sidebar['recent_posts'] %}
            <li><a href="{{ url_for('page.detail_slug', slug=post.slug) }}"><i class="fa fa-angle-double-right"></i> {{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="well">
    <h4>{{ _('Recent Comments') }}</h4>
    <ul class="sidebar_list_style_outer">
        {% for comment in sidebar['recent_comments'] %}
            <li><a href="{{ url_for('page.detail_slug', slug=comment.post.slug) }}#comment-{{ comment.id }}"><i class="fa fa-angle-double-right"></i> {{ comment.post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="well">
    <h4>{{ _('Tag') }}</h4>
    <p>
       {% for tag, count in sidebar['top_tags'] %}
           <a href="{{ url_for('page.tag_name', tag_name=tag.name) }}" class="btn btn-default spacer-bottom-10">{{ tag.name }} <span class="badge">{{ count }}</span></a>
       {% endfor %}
    </p>
</div>

<div class="well">
    <h4>{{ _('Blog Archives') }}</h4>
    <ul class="sidebar_list_style_outer">
        {% for t, year, month in sidebar['monthly_archives'] %}
            <li><a href="{{ url_for('page.month_index', year=year, month=month) }}"><i class="fa fa-angle-double-right"></i> {{ year }}년 {{ month }}월</a></li>
        {% endfor %}
    </ul>
</div>